<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Computed</title>
  </head>
  <body>
    <div id="app" class="container py-5">
      <div class="p-3 rounded-3">
        <h1>Computed</h1>
        <p>Computed Poperty in vue.js</p>
      </div>

      <div class="d-flex mb-3">
        <input
          v-model="firstName"
          type="text"
          class="form-control mx-2"
          placeholder="First Name"
        />
        <input
          v-model="lastName"
          type="text"
          class="form-control mx-2"
          placeholder="Last Name"
        />
      </div>

      <p>First Name: {{firstName}}</p>
      <p>Last Name: {{lastName}}</p>
      <p>Full Name: {{fullName}}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
